@font-face {
  font-family: 'customfont';
  src: url(font.ttf);
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: customfont, monospace, sans-serif;
  font-size: 14px;
  background: #FBC5AA;
  color: #12365D;
}

a {
  color: #D95D27;
  text-decoration: none;
}

a:hover {
  color: #FF4D00;
}

.inner {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  background: #12365D;
  color: #93B2D3;
}

.header h1 .module-name {
  color: #FFF;
}

.header h1 .subtitle {
  display: block;
  font-size: 16px;
  color: #4D89C7;
}

.footer {
  padding: 50px 0;
  background: #2D5E90;
  color: #FFF;
}

.footer p {
  text-align: center;
}

.main {
  padding: 20px 0;
}

h2, h3, h4, h5, h6 {
  margin: 1.2em 0 0.5em;
}

.heading {
  background: #12365D;
  color: #FFF;
  margin: 20px -20px 15px;
  width: max-content;
  min-width: calc(min(250px, 100%));
  box-sizing: border-box;
  padding: 6px 60px 6px 40px;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: 6px 6px 0 rgba(0, 0, 100, 0.2);
}

.group-title {
  padding: 0 2px;
  margin: 18px 0 8px;
}

.ordinal-consts {
  overflow-x: auto;
  border: 1px solid #808080;
  box-shadow: 0 1px 3px rgba(255, 0, 0, 0.1);
}

.ordinal-consts table {
  background: #FFF;
  min-width: 450px;
  width: 100%;
}

.ordinal-consts th,
.ordinal-consts td {
  background: #FFBF44;
  border: 1px solid #F8BA42;
  padding: 2px 5px;
  vertical-align: top;
}

.ordinal-consts th {
  text-align: left;
  font-weight: normal;
  background: #B91E0C;
  border-color: #B91E0C;
  color: #FFF;
}

.ordinal-consts .name {
  width: 140px;
}

.ordinal-consts td.name {
  color: #B91E0C;
}

.ordinal-consts .value {
  width: 60px;
}

.ordinal-consts td.desc {
  background: transparent;
  border-color: transparent;
  border-bottom-color: #E0E0E0;
}

.ordinal-consts tr:last-child td.desc {
  border-color: transparent;
}

.ordinal-consts .desc .comment {
  padding: 0;
}

.object {
  background: #FFF;
  border: 1px solid #808080;
  padding: 2px;
  margin: 6px 0;
  box-shadow: 0 1px 3px rgba(255, 0, 0, 0.1);
}

.object .def {
  background: #FFBF44;
  border: 1px solid #F8BA42;
  padding: 2px 5px;
}

.object .name,
.object .record-base {
  color: #B91E0C;
}

.const .value {
  color: #000;
}

.value i {
  font-style: normal;
  color: #277FC0;
}

.comment {
  padding: 10px 6px;
  color: #2D5E90;
}

.object > .comment:empty {
  display: none;
}

.record-fields .comment {
  color: #C91E0C;
}

.comment .mark {
  color: #D1702C;
}

.record-fields {
  display: grid;
  grid-template-columns: auto 1fr;
}

.record-fields .var {
}

.record-fields .comment {
  padding: 0;
}

.record-field .comment p {
}

@media screen and (max-width: 500px) {

}