/FreeOberon
/FreeOberon.exe
/fob
/fob.exe
_Build
/src/Makefile
/src/*.o
/src/*.h
/src/*.oh
/src/*.c
/src/*.sym
/src/term/*.o
/Data/bin/libFreeOberon.a
/Data/bin/FreeOberon.a
!/Data/bin/mingw32/bin/*.dll
!/Data/bin/mingw32/libexec/gcc/i686-w64-mingw32/6.2.0/*.dll
.*.swp
*.dll

/src/GTest
/src/TTest
/src/TestModule
/src/TermSnow
