(use "git add <file>..." to include in what will be committed)
FreeOberon
FreeOberon.exe
bin/*
src/Makefile
src/*.o
src/*.h
src/*.c
src/*.sym
src/.*.swp
src/term/*.o
src/term/.*.swp
data/bin/voc/C
data/bin/voc/bin
data/bin/voc/lib
data/bin/voc/src/Configuration.Make
data/bin/voc/src/Configuration.Mod
data/bin/voc/src/voc.exe
data/bin/voc/src/voc
*.dll
!data/bin/ming32/bin/*.dll
!data/bin/ming32/libexec/gcc/i686-w64-mingw32/6.2.0/*.dll
